*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    background-image: url("DALL·E\ 2025-03-10\ 19.50.46\ -\ A\ futuristic\ background\ featuring\ the\ text\ \'CodeWithDileep\'\ in\ a\ glowing\,\ modern\ font.\ The\ backdrop\ is\ a\ digital\ coding\ environment\ with\ neon\ blue\ and.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}nav{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.2);
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
ul li{
    height: 50px;
}
li a{
    height: 100%;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
}
li a svg{
    padding-top:10px ;
}
#logo{
    margin-right: auto;
}
li a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.sideBar{
    width: 250px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: -10px 5px 9px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.sideBar li{
    width: 100%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#menu-btn{
    display: none;
}
@media(max-width : 800px) {
    .hide{
        display: none;
    }
    #menu-btn{
        display: block;
    }
}
@media(max-width : 400px) {
    .sideBar{
        width: 100%;
    }
}